.chat-message-box {
    flex: 1;
    display: flex;
    flex-flow: column;
    height: calc(80vh - 36px);
    margin-top: 20px;
    background-color: #36393f;

    .chat-message-box-body {
        overflow-y: auto;
        position: relative;
        flex: 1;
        padding: 20px;

        .message_item_day_divider {
            text-align: center;
            position: relative;
            display: flex;
            align-items: center;

            .message_item_day_divider_before {
                flex: 1;
                height: 1px;
                margin: 0px 10px;
                background: #3c3f4a;
            }

            .message_item_day_divider_after {
                flex: 1;
                height: 1px;
                margin: 0px 10px;
                background: #3c3f4a;
            }
        }

        .message_item {
            display: flex;
            padding: 12px 0px;
            border-bottom: solid 1px #3c3f4a;

            .message_item_sender {
                width: 56px;

                img {
                    width: 47px;
                    height: 47px;
                    border-radius: 50%;
                    box-shadow: 0px 0px 5px -1px #babdc1;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }

            .message_item_body {
                flex: 1;

                .message_item_sender_name {
                    font-size: 14px;
                    color: #4389fe;
                    text-transform: uppercase;

                    .message_sender_name {
                        color: #d8d8d8;
                        font-weight: bold;
                    }

                    .message_sender_time {
                        color: grey;
                        font-size: 12px;
                        margin-left: 10px;
                    }
                }

                .message_item_content {
                    color: #d8d8d8;
                    font-size: 13px;

                    span {
                        display: flex;
                        white-space: pre-wrap;
                        white-space: -moz-pre-wrap;
                        white-space: -o-pre-wrap;
                    }

                    img{
                        max-width: 300px;
                    }
                }
            }
        }
    }

    .message-box-notify-panel{
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 13px;
        color: white;
        background: #252424;
        padding: 10px;
        margin-top: 20px;

        i{
            color: #52eb8f;
        }
    }

    .chat-message-box-footer {
        padding: 16px 15px;
        /* padding-top: 0px; */
        position: relative;
        display: flex;
        background-color: #313339;

        .chat-message-box-footer-inner {
            flex: 1;

            textarea{
                width: 100%;
                resize: none;
                border: none;
                border-radius: 6px;
                background: #40444b;
                color: #d7d8d9;
                padding-left: 7px;
                font-size: 13px;
                padding-top: 7px;
                font-weight: lighter;
                height: 50px;
                padding-right: 48px;
                max-height: 100px;
            }

            .emoji-element-toggle-btn {
                position: absolute;
                right: 0px;
                font-size: 30px;
                background: none;
                border: none;
                color: #ffc83d;
                cursor: pointer;
                align-self: flex-end;
                bottom: 18px;
            }

            .pending_wrap{
                display: flex;
                flex: 1;
                justify-content: space-between;
                color: white;
            }
        }

        .upload-btn-wrapper{
            position: relative;
            overflow: hidden;
            display: flex;
            margin-left: 8px;
            align-items: center;

            .btn{
                color: gray;
                background-color: #ffffffd9;
                padding: 5px 12px;
                border-radius: 24px;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }

            input[type="file"]{
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }

        .preview_file{
            position: absolute;
            top: -90px;

            button{
                position: absolute;
                right: -10px;
                top: -10px;
                width: 20px;
                height: 20px;
                font-size: 10px;
                padding: 0px;
                text-align: center;
                -webkit-appearance: media-sliderthumb;
                cursor: pointer;
                border-radius: 50%;
                box-shadow: 0px 0px 2px 0px #181503;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
            }

            img{
                height: 85px;
                width: 85px;
                border-radius: 7px;
                box-shadow: 1px 1px 10px -7px white;
            }
        }
    }
}
